# FakeCheckApp Code Owners
# Author: Edmond Azbel
# Copyright (c) 2026 Edmond Azbel. All Rights Reserved.
#
# This file is part of GitHub's CODEOWNERS feature. It ensures that
# the original author (Edmond Azbel) is automatically requested for
# review on any proposed change to this repository.
#
# This is a proprietary project by Edmond Azbel. External contributions
# are not accepted at this time.

